*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

[data-list] {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

[data-list-item] {
  position: relative;
  width: 100%;
  min-height: 40px;
  cursor: pointer;
  transition: padding ease-out 0.3s;
}

[data-item] {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 1px solid;
  pointer-events: none;
}

[data-is-hover='true'] [data-item] {
  transform: translateX(40px);
}

[data-is-siblings='true'] [data-item] {
  transform: translateX(20px);
}

[data-is-selected='true'] [data-item] {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  background-color: #fff;
  pointer-events: all;
  cursor: auto;
}

[data-dialog] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

[data-dialog][data-status='hidden'] {
  display: none;
}

[data-dialog][data-status='show'] {
  display: block;
}
